{% extends "base.html" %}

{% block content %}
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">ATES Tracker home</h1>
      <p class="lead">Я тебя запомнил</p>

      {% if user.is_authenticated %}
        <p>Logged as {{ user.username }}</p>
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <p><a class="btn btn-primary btn-lg" href="{% url 'social:begin' 'ates' %}">Авторизоваться</a></p>
      {% endif %}
    </main>
  </div>
{% endblock %}